/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
.wrap{
    margin:0 auto;
    border: 1px solid #0000001A;
    width: 1100px;
    height: 812px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.left_class{
    width: 324px;
    background: #EAF0ED;
}
.menu{
  
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    align-items: flex-start;

}
.content{
    width: 776px;
    display: flex;
    flex-direction: column;
    align-items:flex-start;
}
.content_1{
    margin: 78px;
}
.content_h4{
    font-family: PingFang TC;
    font-size: 28px;
    font-weight: 600;
    line-height: 33.6px;
    text-align: left;
    color:#3F5D45;
   

}
.content_p{
    margin-top: 20px;
    font-family: PingFang TC;
    font-size: 24px;
    font-weight: 400;
    line-height: 33.6px;
    text-align: left;
    color: #000000;

}
.content_image{
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    justify-content:flex-start;
}
.content_image img{
    margin-right:5px;
    margin-bottom: 5px;
}

.item {
    width: 304px;
    height: 46px;
    text-align: center;
    display: block;
 
    padding: 10px;
}
.item a{
    text-decoration: none;
    display: block;
    margin: 10px;
    color: #3F5D45;
    font-family: PingFang TC;
    font-size: 24px;
    font-weight: 400;

}

.menu_img{
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items:center;
    width: 324px;
    height: 54px;
}